#gmain {
    border: 2px solid none;
    width: 1200px;
    height: 400px;
}
#gimg{
    border: 2px solid none;
    float: left;
}

#ginfo  {
    border: 2px solid none;
    background-color: rgb(165, 230, 230);
    margin-left: 50px;
    float: left;
    width: 592px;
    height: 400px;
}

#sinfo, #pinfo, #custr, #price, #sprice {
    color: red;
    font-size: xx-large;
}

#sinfodiv, #custrdiv {
    color: brown;
    width: 100%;
    height: 30px;
    font-size: x-large;
}

#pinfodiv {
    color: brown;
    overflow: auto;
    width: 100%;
    height: 82px;
    font-size: x-large;
}

#fnames, #lnames, #adds, #ccs, #expms, #expys, #scs {
    color: red;
    font-size: x-large;
}
#addi, #addi2 { 
    width: 465px; 
    height: 30px; 
    font-size: x-large;
}
#fnamei, #lnamei, #cci, #expmi, #expyi, #sci, #fnamei2, #lnamei2, #cci2, #expmi2, #expyi2, #sci2 { height: 30px; font-size: x-large; }
#fnamei, #lnamei, #fnamei2, #lnamei2 {
     width: 162px; 
    }
#cci, #cci2 {
     width: 345px;
     }
#expmi, #expyi, #expmi2, #expyi2 {
     width: 106px; 
    }
#sci, #sci2 { 
    width: 60px;
 }
#sbmt, #btn11, #btn12 {
     font-size: x-large; height: 35zpx; margin-left: 15px;
    }

#frm, #frmr, #btns {
    margin-top: 25px;
    float: left;
}
#frmr { 
    font-size: x-large; 
    display: none;
}
#btns {
    display: none;
}
#sbmt { 
    display: none;
 }
#frmchk { 
    background-color: cornflowerblue;
    color: blue;
    font-size: x-large;
 }